table th {
<<<<<<< HEAD
    background-color:#ffdfdf;
    padding: 10px 20px;
   
}

table td {
    background-color: #f1c8c861;
    padding: 10px 20px;

  
=======
    background-color: #fbc25b;
    padding: 10px 20px;
}

table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
>>>>>>> origin/master
}

.notice {
    background-color: #ccf;
    padding: 5px;
<<<<<<< HEAD
    background-color:#ffb6c1;
    width:40%;
    font-size:24px;
    border: 2px solid #ec7592;
    text-align: center;
}

.header {
  
    height:100px;
    padding-top:10px;
    background: #c52f24;
    color: #fff;
    margin-bottom:30px;
    font-size:56px;
}

.schedule {
 width:1080px;

}
 
a{
    font-size:20px;
    text-decoration: none;
    color:#c52f24;
}

a:hover {
    opacity: 0.5;
}

.box {
margin-left:100px;
}

=======
}
>>>>>>> origin/master
